@model Assets

<partial name="~/Views/Home/Partial/_ValidationPartial.cshtml">


<div class="center-div">
    <div class="form-action">
        <h2>About Asset</h2>
        <form  method="post">
            <input type="number" min="1" asp-for="AssetsNumber" placeholder="Assets Number" onkeypress="return eventIsNumber(event)" /> <span asp-validation-for="AssetsNumber"></span>
            <br />
            <input type="text" asp-for="Name" placeholder="Assets Name" /> <span asp-validation-for="Name"></span>
            <br />
            <input type="number" min="1" asp-for="Price" placeholder="Price" /> <span asp-validation-for="Price"></span>
            <br />
            <select asp-for="CategorieName">
                <option disabled selected hidden>--- Select Categories ---</option>
                @if (ViewBag.categorie != null)
                {
                    foreach (var item in ViewBag.categorie as List<Categories>)
                    {
                        <option>@item.CategorieName</option>
                    }
                }
            </select>
            <span asp-validation-for="CategorieName"></span>
            <br />
            <select asp-for="Vendor">
                <option disabled selected hidden>--- Select Vendors ---</option>
                @if (ViewBag.vendor != null)
                {
                    foreach (var item in ViewBag.vendor as List<Vendors>)
                    {
                        <option>@item.VendorName</option>
                    }
                }
            </select>
            <span asp-validation-for="Vendor"></span>
            <br />
            <button type="submit" asp-action="Assets" asp-controller="Home">Add Asset</button>
        </form>
        @if (ViewBag.Error != null)
        {
            <h1 style="color:red">@ViewBag.Error</h1>
        }
        else
        {
            <h1 style="color:green">@ViewBag.Success</h1>
        }
        <hr style="width:75%;" />
        <form method="post">
            <h2>About Category</h2>
            <input type="text" asp-for="CategorieName" placeholder="Categorie Name" onkeydown="return /[a-z ]/i.test(event.key)" /><span asp-validation-for="CategorieName"></span>
            <br />
            <button asp-action="Categorie" asp-controller="Home">Add Categorie</button>
        </form>
        @if (ViewBag.Error2 != null)
        {
            <h1 style="color:red">@ViewBag.Error2</h1>
        }
        else
        {
            <h1 style="color:green">@ViewBag.Success2</h1>
        }
    </div> 
</div>
